@model ReportProjectDto


<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col">Title</th>
                    <th scope="col">Total hours</th>
                    <th scope="col">Price task hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  
                     <td>@Model.Title</td>
                    <td>@(Model.TotalMinute / 60) hours-(@Model.TotalMinute minutes)</td>
                    <td>@Model.PriceTaskHours $</td>
                </tr>
                <tr>
                  
                    <td colspan="2">
                        Total factor
                        
                    </td>
                    <td class="text-primary"><b>@Model.TotalFactor</b> $</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>